matrix:
  include:
  - os: linux
    dist: trusty
    # sudo: false
    python: '2.7'
  - os: linux
    dist: trusty
    # sudo: false
    python: '3.5'
  - os: linux
    dist: trusty
    # sudo: false
    python: '3.6'
  - os: linux
    dist: xenial
    # sudo: required
    python: '3.7'
  - os: linux
    # sudo: false
    python: pypy
  - os: linux
    # sudo: false
    python: pypy3
  - os: linux
    dist: trusty
    # sudo: false
    env: EXTRAS=configargparse
    python: '2.7'
  - os: linux
    dist: xenial
    # sudo: required
    env: EXTRAS=configargparse
    python: '3.7'
language: python
install:
  - pip install .
  - pip install coveralls coverage nose mock $EXTRAS
script: coverage run --source=pytool setup.py test
after_success: coveralls
